body {
  max-width: 560px;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
